.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    gap: 20px;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(31, 27, 27);
    margin: 40px;
    padding: 50px;
}

.main-header{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #c9cc0e;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(3, 3, 3);
    padding: 20px;
    border-radius: 20px;
    background-color: #ecabca;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}

.product-image{
    width: 50%;
    height: auto;
    border-radius: 10px;
    animation: rotateImage 5s infinite linear;
}

button{
    padding: 10px;
    background-color: #007bff;
    color: rgb(31, 28, 28);
    border: 2px solid rgb(31, 18, 20);
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
}

button:hover{
    background-color: #0056b3;
    color: white;
}

@media (max-width: 768px) {
    .product-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 500px) {
    .product-container{
        grid-template-columns: 1fr;
    }
}

@keyframes rotateImage {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}